# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history
package-lock.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Android
android/app/build/
android/.gradle/
android/local.properties
*.apk
*.apks
*.aab
release.keystore

# Capacitor
.capacitor/
android/.idea/

# OS
Thumbs.db
